<section class="anita-section">
  <div class="anita-next-album-wrap">
    <div class="anita-next-album-title">
      <h4 data-aos="fade-up" data-aos-offset="20">{{subtitle}}</h4>
      <a
        href="albums-slider-parallax.html"
        class="anita-underline anita-caption"
        data-aos="fade-up"
        data-aos-delay="50"
        data-aos-offset="20"
      >
        {{title}}
      </a>
      <div class="anita-page-background" data-src={{src}}></div>
    </div>
  </div>
</section>